@import "./variables";
@import "./mixins";
@import "./fonts";

//base
@import "./base/buttons.scss";
@import "./base/footer.scss";
@import "./base/forms.scss";
@import "./base/general.scss";
@import "./base/header.scss";
@import "./base/text.scss";

//components
@import "./components/social.scss";
@import "./components/star-articles.scss";

* {
    padding: 0px;
    margin: 0px;
}

.container {
    display: flex;
    overflow: hidden;
}
.menu {
    width: 30vw;
    min-width: 300px;
    height: 100vh;
    background-color: rgb(187, 187, 187);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    #currentPage {
        background-color: rgba(255, 255, 255, 0.336);
        border: solid rgb(92, 92, 92) 0.5px;
        display: flex;
        justify-content: center;
        &::before {
            margin: auto;
            margin-left: -3vw;
            width: 3vw;

            height: 7px;
            background-color: rgb(0, 0, 0);
            border-top-left-radius: 7px;
            border-bottom-left-radius: 7px;
            color: rgb(255, 255, 255);
            content: "";
        }
        &::after {
            margin: auto;
            margin-right: -3vw;
            width: 3vw;

            height: 7px;
            background-color: rgb(0, 0, 0);
            border-top-right-radius: 7px;
            border-bottom-right-radius: 7px;
            color: rgb(255, 255, 255);
            content: "";
        }
    }
    a {
        text-decoration: none;
        div {
            margin: auto;
            height: 4vw;
            min-height: 50px;
            width: 70%;
            min-width: 50px;
            background-color: rgba(0, 0, 0, 0.658);
            display: flex;
            border-radius: 5px;
            p {
                margin: auto;

                color: white;
            }
        }
    }
}

.containerCollection {
    height: 100vh;
    width: 100vw;
    background-color: rgb(56, 56, 56);
    justify-content: center;
    align-items: center;
    display: flex;
    .decks * {
        display: flex;
        color: white;
        justify-content: center;
    }
    #containerCard {
        margin: auto;
        position: relative;
        .deckConstructor {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            margin: auto;
            width: 100%;
            height: 100%;
            background-color: rgb(97, 97, 97);
            z-index: 2;
            overflow-x: hidden;
            overflow-y: scroll;
            div {
                display: flex;
                justify-content: space-around;
            }
            input {
                margin-top: 20px;
                margin-left: 50%;
                transform: translate(-50%, 0%);
                min-height: 50px;
                max-height: 200px;
                min-width: 30vw;
                max-width: 400px;
                background-color: rgb(238, 238, 238);
            }
            .btnExit {
                right: 0px;
                position: absolute;
                height: 30px;
                width: 80px;
            }
            .killAll {
                margin: 10px;
                margin-left: 50%;
                transform: translate(-50%);
            }
            
            ul {
                list-style: none;
                display: grid;
                grid-template-areas: "1 2 3";
                li {
                    width: 85%;
                    overflow: hidden;
                    word-wrap: break-word;
                    height: minmax(min-content, auto);
                    margin: 10px;
                    padding: 10px;
                    padding-bottom: 20px;
                    background-color: rgb(238, 238, 238);
                    border: solid 1px black;
                    position: relative;
                    button {
                        position: absolute;
                        bottom: 0px;
                        right: 0px;
                    }
                }
            }
        }
        #cardJs {
            display: grid;
            grid-template-areas: "card1 card2 card3 card4";
            gap: 3vw;
            padding: 10px;
            img {
                border-radius: 7px;
                max-width: 100%;
            }
        }
        .pagination {
            color: white;
            display: flex;
            justify-content: space-between;
        }
    }
}
