@font-face {
  font-family: Georgia, "Times New Roman", Times, serif;
  src: url();
}
* {
  padding: 0px;
  margin: 0px;
}

.container {
  display: flex;
  overflow: hidden;
}

.menu {
  width: 30vw;
  min-width: 300px;
  height: 100vh;
  background-color: #bbbbbb;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.menu #currentPage {
  background-color: rgba(255, 255, 255, 0.336);
  border: solid #5c5c5c 0.5px;
  display: flex;
  justify-content: center;
}
.menu #currentPage::before {
  margin: auto;
  margin-left: -3vw;
  width: 3vw;
  height: 7px;
  background-color: black;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  color: white;
  content: "";
}
.menu #currentPage::after {
  margin: auto;
  margin-right: -3vw;
  width: 3vw;
  height: 7px;
  background-color: black;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  color: white;
  content: "";
}
.menu a {
  text-decoration: none;
}
.menu a div {
  margin: auto;
  height: 4vw;
  min-height: 50px;
  width: 70%;
  min-width: 50px;
  background-color: rgba(0, 0, 0, 0.658);
  display: flex;
  border-radius: 5px;
}
.menu a div p {
  margin: auto;
  color: white;
}

.containerCollection {
  height: 100vh;
  width: 100vw;
  background-color: #383838;
  justify-content: center;
  align-items: center;
  display: flex;
}
.containerCollection .decks * {
  display: flex;
  color: white;
  justify-content: center;
}
.containerCollection #containerCard {
  margin: auto;
  position: relative;
}
.containerCollection #containerCard .deckConstructor {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  width: 100%;
  height: 100%;
  background-color: #616161;
  z-index: 2;
  overflow-x: hidden;
  overflow-y: scroll;
}
.containerCollection #containerCard .deckConstructor div {
  display: flex;
  justify-content: space-around;
}
.containerCollection #containerCard .deckConstructor input {
  margin-top: 20px;
  margin-left: 50%;
  transform: translate(-50%, 0%);
  min-height: 50px;
  max-height: 200px;
  min-width: 30vw;
  max-width: 400px;
  background-color: #eeeeee;
}
.containerCollection #containerCard .deckConstructor .btnExit {
  right: 0px;
  position: absolute;
  height: 30px;
  width: 80px;
}
.containerCollection #containerCard .deckConstructor .killAll {
  margin: 10px;
  margin-left: 50%;
  transform: translate(-50%);
}
.containerCollection #containerCard .deckConstructor ul {
  list-style: none;
  display: grid;
  grid-template-areas: "1 2 3";
}
.containerCollection #containerCard .deckConstructor ul li {
  width: 85%;
  overflow: hidden;
  word-wrap: break-word;
  height: minmax(min-content, auto);
  margin: 10px;
  padding: 10px;
  padding-bottom: 20px;
  background-color: #eeeeee;
  border: solid 1px black;
  position: relative;
}
.containerCollection #containerCard .deckConstructor ul li button {
  position: absolute;
  bottom: 0px;
  right: 0px;
}
.containerCollection #containerCard #cardJs {
  display: grid;
  grid-template-areas: "card1 card2 card3 card4";
  gap: 3vw;
  padding: 10px;
}
.containerCollection #containerCard #cardJs img {
  border-radius: 7px;
  max-width: 100%;
}
.containerCollection #containerCard .pagination {
  color: white;
  display: flex;
  justify-content: space-between;
}

/*# sourceMappingURL=index.css.map */
